.cabecalho{
    background-color: beige;
    color: rgba(228, 16, 16, 0.921);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 100%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 28px;
}

.escola-imagem{
    width: 25%;

}

.escola{
    display: flex;
    color: antiquewhite;
}

.escola{
    display: flex;
    color: white;
    background-color: background-image: radial-gradient(circle at 73.48% 50%, #b03b89 0, #90337e 16.67%, #6f286d 33.33%, #4c1c58 50%, #2c1041 66.67%, #15002d 83.33%, #00001d 100%);;
}